[Unit]
Description=NodeJS application {{item.name}}
Wants=network.target
Before=network.target

[Service]
ExecStart=/opt/node/bin/node /opt/{{item.name}}/{{item.entrypoint}}
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=node-{{item.name}}
User={{item.user}}
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
